<div>
    <a style="margin: 5px 20px 5px 20px;" id="next" href="/tweets/new" class="btn btn-primary">Nouveau tweet !</a>
{{#each tweets}}
    <div>
        <p>{{id}} </p>
        <p>{{user}}</p>
        <p>{{title}}</p>
        <p>{{content}}</p>
    </div> 
{{/each}}
</div>